{% extends '@Gui/base.html.twig' %}

{% block title %}Image Locations{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/googlemap.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col s9 googlemap">
            <div id="map"></div>
        </div>
        <div class="col s3">
            <div id="statistics">
                <h3>Statistics</h3>
                <div class="row">
                    <div class="col s9">
                        <b>Discovered links</b>
                    </div>
                    <div class="col s1">{{ no_of_links }}</div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <b>Visited links</b>
                    </div>
                    <div class="col s1">{{ visited_links }}</div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <b>Discovered images</b>
                    </div>
                    <div class="col s1">{{ discovered_images }}</div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <b>Images w/ location metadata</b>
                    </div>
                    <div class="col s1">{{ images_with_exif_location }}</div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <b>Images w/o location metadata</b>
                    </div>
                    <div class="col s1">{{ images_without_exif_location }}</div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <b>Successful geoparsed images</b>
                    </div>
                    <div class="col s1">{{ successful_geoparsed_images }}</div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <b>Unsuccessful geoparsed images</b>
                    </div>
                    <div class="col s1">{{ unsuccessful_geoparsed_images }}</div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <b>Images w/ correct location</b>
                    </div>
                    <div class="col s1">{{ correct_location_images }}</div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <b>Images w/ incorrect location</b>
                    </div>
                    <div class="col s1">{{ incorrect_location_images }}</div>
                </div>
                <div class="row">
                    <div class="col s9">
                        <b>Unverified-location images</b>
                    </div>
                    <div class="col s1">{{ unverified_location_images }}</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form>
            <input type="hidden" id="list-api-url" name="list_api_url" value="{{ url('list_images') }}"/>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/googlemap.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap"
            async defer></script>
{% endblock %}