{% extends '@Gui/base.html.twig' %}
{% set active_menu = 'home' %}
{% block title %}Image Locations{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/googlemap.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block content %}
    <div class="row center input-field">
        <i class="material-icons prefix">search</i>
        <input id="search-input" type="text" value="" />
        <label for="search-input">Search for image</label>
    </div>
    <div class="row center">
        <div class="col s12 googlemap">
            <div id="map"></div>
        </div>
    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <div class="right-align">
                <a href="#!" class="modal-action modal-close waves-effect waves-green">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <div id="image-container"></div>
            <div class="row" id="image-info"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var markerClusterImagePath = '{{ asset('assets/images/', null, true) ~ 'm' }}';
        var clusteringAPIPath = '{{ asset('assets/js/') }}';
    </script>

    <script src="{{ asset('assets/js/googlemap.js') }}"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}"
            async defer></script>

    <script src="{{ asset('assets/js/clusteringInterface.js') }}"></script>
    <script src="{{ asset('assets/js/clusteringLogic.js') }}"></script>
    <script src="{{ asset('assets/js/mapFunctions.js') }}"></script>
    <script src="{{ asset('assets/js/markerFunctions.js') }}"></script>
    {#<script src="{{ asset('assets/js/markerclusterer.js') }}"></script>#}

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var mapHeight =  Math.round(jQuery(window).innerHeight() * 0.75);
            jQuery('.googlemap').css({ height: mapHeight });

            jQuery(window).resize(function(){
                jQuery('.googlemap').css({ height: mapHeight });
            });
        });
    </script>
{% endblock %}