{% extends '@Gui/base.html.twig' %}
{% set active_menu = 'stats' %}
{% block title %}Crawling Task Execution Report{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h5>Crawling Task Execution Report</h5>
            <table class="table responsive-table highlight striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Start At</th>
                    <th>End At</th>
                    <th>Execution Time (hours)</th>
                    <th>Memory Usage (Mb)</th>
                    <th>Links</th>
                    <th>Visited</th>
                    <th>Images</th>
                    <th>Geotagged</th>
                </tr>
                </thead>
                <tbody>
                {% for data in reports %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ data.startAt|date('d/m/Y H:i:s') }}</td>
                        <td>{{ data.endAt|date('d/m/Y H:i:s') }}</td>
                        <td>{{ (data.executionTime / 3600)|number_format(2, '.', ',') }}</td>
                        <td>{{ data.memoryUsage == 0 ? 'N/A' : data.memoryUsage|number_format(2, '.', ',') }}</td>
                        <td>{{ data.noOfLinks }}</td>
                        <td>{{ data.noOfVisitedLinks }}</td>
                        <td>{{ data.noOfImages }}</td>
                        <td>{{ data.noOfExifImages }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}