{% extends '@Gui/base.html.twig' %}
{% set active_menu = 'stats' %}
{% block title %}Address Statistics{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h5>Address Statistics</h5>
            <div>
                <b>Total number of address: </b> {{ no_of_address_images }}
            </div>
            <div>
                <b>Number of address from metadata: </b> {{ no_of_address_images_in_metadata }}
            </div>
            <div>
                <b>Number of address from geoparsing: </b> {{ no_of_address_images_nin_metadata }}
            </div>
            <table class="table responsive-table highlight striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Address</th>
                    <th>Geocoded from metadata?</th>
                    <th>No. of images</th>
                </tr>
                </thead>
                <tbody>
                {% for data in address_images %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ data.address }}</td>
                        <td>
                            {% if data.is_exif_location %}
                                YES
                            {% else %}
                                NO
                            {% endif %}
                        </td>
                        <td>{{ data.no_of_images }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}