<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>{% block title %}MopsiCrawler{% endblock %}</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('assets/css/materialize.min.css') }}" type="text/css" rel="stylesheet"
              media="screen,projection"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.scrollbar.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/prettify.css') }}">
        <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        {% block stylesheets %}{% endblock %}
    {% endblock %}
</head>
<body>
<!-- Navigation -->
{% block navigation %}
    <ul id="stats-dropdown-desktop" class="dropdown-content">
        <li><a href="{{ path('gui_statistics') }}">General Statistics</a></li>
        <li><a href="{{ path('gui_address_statistics') }}">Address Statistics</a></li>
        <li><a href="{{ path('gui_geoparsing_statistics') }}">Geoparsing Statistics</a></li>
        <li><a href="{{ path('gui_report_statistics') }}">Crawling Task Statistics</a></li>
    </ul>
    <ul id="stats-dropdown-mobile" class="dropdown-content">
        <li><a href="{{ path('gui_statistics') }}">General Statistics</a></li>
        <li><a href="{{ path('gui_address_statistics') }}">Address Statistics</a></li>
        <li><a href="{{ path('gui_geoparsing_statistics') }}">Geoparsing Statistics</a></li>
        <li><a href="{{ path('gui_report_statistics') }}">Crawling Task Statistics</a></li>
    </ul>
    <nav class="orange lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{{ path('gui_homepage') }}" class="brand-logo">
                <img src="{{ asset("assets/images/logo.gif") }}" alt="MopsiCrawler"/>
            </a>

            <ul class="right hide-on-med-and-down">
                <li id="home"><a href="{{ path('gui_homepage') }}">Home</a></li>
                <li id="stats"><a href="#!" class="dropdown-button-desktop"  data-activates="stats-dropdown-desktop">Statistics<i class="material-icons right">arrow_drop_down</i></a></li>
                <li id="gallery"><a href="{{ path('gallery_index') }}">Image Gallery</a></li>
                <li id="docs"><a href="{{ path('nelmio_api_doc_index') }}">API Documentations</a></li>
                <li id="verify"><a href="{{ path('verifification_show_image') }}">Verify Image Location</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li id="home"><a href="{{ path('gui_homepage') }}">Home</a></li>
                <li id="stats"><a href="#!" class="dropdown-button-mobile"  data-activates="stats-dropdown-mobile">Statistics<i class="material-icons right">arrow_drop_down</i></a></li>
                <li id="gallery"><a href="{{ path('gallery_index') }}">Image Gallery</a></li>
                <li id="docs"><a href="{{ path('nelmio_api_doc_index') }}">API Documentations</a></li>
                <li id="verify"><a href="{{ path('verifification_show_image') }}">Verify Image Location</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
{% endblock %}

<!-- Header -->
{% block header %}{% endblock %}

<!-- Banner -->
<div class="section no-pad-bot" id="index-banner">
    {% block banner %}{% endblock %}
</div>

<!-- Body -->
<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- Footer -->
{% block footer %}
    {#<footer class="page-footer orange fixed-footer footer-copyright">#}
        {#<div class="row">Made by <a class="orange-text text-lighten-3">Khue Quang Nguyen</a></div>#}
    {#</footer>#}
{% endblock %}

<div id="scripts-block">
    <!--  Scripts-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/materialize.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.scrollbar.min.js') }}"></script>
    <script src="{{ asset('assets/js/prettify.js') }}"></script>
    <script src="{{ asset('assets/js/init.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ asset('assets/js/underscore-min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script type="text/javascript">
        var base_path = '{{ app.request.basePath }}';

        function getImcImage(image) {
            return base_path + '/downloaded/' + image.path + '/' + image.filename;
        }

        jQuery(document).ready(function() {
            jQuery('.dropdown-button-desktop').dropdown({
                'belowOrigin': true,
                'constrainWidth': false,
                'hover': true
            });

            jQuery('.dropdown-button-mobile').dropdown({
                'belowOrigin': true,
                'constrainWidth': false,
                'hover': true
            });

            jQuery('#{{ active_menu }}').addClass('active');
        });
    </script>

    {% block scripts %}{% endblock %}
</div>

</body>
</html>
