<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>{% block title %}MopsiCrawler{% endblock %}</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('assets/css/materialize.min.css') }}" type="text/css" rel="stylesheet"
              media="screen,projection"/>
        <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        {% block stylesheets %}{% endblock %}
    {% endblock %}
</head>
<body>
<!-- Navigation -->
{% block navigation %}
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">
                <img src="{{ asset("assets/images/logo.png") }}" alt="MopsiCrawler" />
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ path('gallery_index') }}">Image Gallery</a></li>
                <li><a href="{{ path('verifification_show_image') }}">Verify Image Location</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="{{ path('gallery_index') }}">Image Gallery</a></li>
                <li><a href="{{ path('verifification_show_image') }}">Verify Image Location</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
{% endblock %}

<!-- Header -->
{% block header %}{% endblock %}

<!-- Banner -->
<div class="section no-pad-bot" id="index-banner">
    {% block banner %}{% endblock %}
</div>

<!-- Body -->
<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- Footer -->
<footer class="page-footer orange fixed-footer">
    {% block footer %}
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="">Khue Quang Nguyen</a>
            </div>
        </div>
    {% endblock %}
</footer>

<div>
    <!--  Scripts-->
    <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/materialize.min.js') }}"></script>
    <script src="{{ asset('assets/js/init.js') }}"></script>
    {% block scripts %}{% endblock %}
</div>

</body>
</html>
