{% extends 'base.html.twig' %}

{% block body %}
    <h1>Images list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Src</th>
                <th>Alt</th>
                <th>Filename</th>
                <th>Path</th>
                <th>Width</th>
                <th>Height</th>
                <th>Type</th>
                <th>Author</th>
                <th>Copyright</th>
                <th>Isexiflocation</th>
                <th>Datetaken</th>
                <th>Dateacquired</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Altitude</th>
                <th>Address</th>
                {#<th>Metadata</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><a href="{{ path('gallery_show', { 'id': image.id }) }}">{{ image.id }}</a></td>
                <td><img src="{{ image.src }}" width="64px" height="64px"/></td>
                <td>{{ image.alt }}</td>
                <td>{{ image.filename }}</td>
                <td>{{ image.path }}</td>
                <td>{{ image.width }}</td>
                <td>{{ image.height }}</td>
                <td>{{ image.type }}</td>
                <td>{{ image.author }}</td>
                <td>{{ image.copyright }}</td>
                <td>{% if image.isExifLocation %}Yes{% else %}No{% endif %}</td>
                <td>{% if image.dateTaken %}{{ image.dateTaken|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if image.dateAcquired %}{{ image.dateAcquired|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ image.latitude }}</td>
                <td>{{ image.longitude }}</td>
                <td>{{ image.altitude }}</td>
                <td>{{ image.address }}</td>
                {#<td>{{ image.metadata }}</td>#}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gallery_show', { 'id': image.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gallery_edit', { 'id': image.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gallery_new') }}">Create a new image</a>
        </li>
    </ul>
{% endblock %}
