{% extends '@Gui/base.html.twig' %}

{% block content %}
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="{{ url('gui_homepage') ~ '/downloaded/' ~ image.path ~ '/' ~ image.filename }}">
                <span class="card-title">{{ image.address }}</span>
                <div class="right-align halfway-fab">
                    <a class="btn-floating waves-effect waves-light light-blue" href="{{ path('gallery_edit', {'id': image.id}) }}">
                        <i class="material-icons">edit</i>
                    </a>
                    <a class="btn-floating waves-effect waves-light red" href="{{ path('gallery_delete', {'id': image.id}) }}">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
            <div class="card-content">
                <p>{{ image.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}