<div class="row">
    <div class="col s12">
        <h5 class="valign-wrapper">
            Basic Information
            &nbsp;
            <a href="{{ path('gallery_edit', { 'id': image.id }) }}">
                <i class="material-icons small">edit</i>
            </a>
            &nbsp;
            <a href="{{ path('gallery_delete', { 'id': image.id }) }}">
                <i class="material-icons small">delete</i>
            </a>
        </h5>
    </div>
</div>
<div class="row">
    <div class="col s2"><b>Filename</b></div>
    <div class="col s10">{{ image.filename }}</div>
</div>
<div class="row">
    <div class="col s2"><b>Original Link</b></div>
    <div class="col s10"><a href="{{ image.src }}">{{ image.src }}</a></div>
</div>
<div class="row">
    <div class="col s2"><b>Alt Attribute</b></div>
    <div class="col s10">{{ image.alt }}</div>
</div>
<div class="row">
    <div class="col s2"><b>Extracted Description</b></div>
    <div class="col s10">{{ image.description }}</div>
</div>
<div class="row">
    <div class="col s2"><b>Type</b></div>
    <div class="col s10">{{ image.type }}</div>
</div>
<div class="row">
    <div class="col s2"><b>Size</b></div>
    <div class="col s10">{{ image.width }} x {{ image.height }} px</div>
</div>
<div class="row">
    <div class="col s2"><b>Geographic Coordinates</b></div>
    <div class="col s10">{{ image.latitude }}, {{ image.longitude }}</div>
</div>
<div class="row">
    <div class="col s2"><b>Geographic Address</b></div>
    <div class="col s10">{{ image.address }}</div>
</div>
<div class="row">
    <div class="col s12"><h5>Metadata</h5></div>
</div>
<div class="row">
    <div class="col s12">
        <table class="striped responsive-table highlight">
            {% for key, data in image.metadata %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ data }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
